body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    /* color: white; Set text color to contrast with the background */
}

table {
    width: 80%;
    margin-top: 20px;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    text-align: left;
}
