<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
         .bg-img {
            background-size: cover;
            background-position: center;
        }
    </style>
    <title>Document</title>
</head>
<body>
   <div class="bg-img bg-cover" style="width: 100%; height: 100vh; background-image: url('https://img.freepik.com/free-vector/abstract-technology-digital-futuristic-background-concept-design_1017-22917.jpg?w=1060&t=st=1702343064~exp=1702343664~hmac=8a3da5c1dbcb38470f31dee6130dbc33ede3ebbcb0431267091c33f0d52963c0'); background-size: cover; background-repeat: no-repeat; overflow: hidden;">
    <h2 style="text-align: center ; " class="text-light">AdminLogin</h2>
    <div class="container mt-5">
        <form action="/AdminLogin" method="post">
         <div class="container d-flex flex-column align-items-center justify-content-center min-vh-100">
            <div class="form-group">
                <label for="name"  class="text-light">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="password"  class="text-light">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    </div>
    
  </div>
    <!-- Add Bootstrap JavaScript and jQuery (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
